#background {
    background-image: url(background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 150vh;
}

#logo {
    background: #006699;
    color: whitesmoke;
    width: auto;
    font-family: 'Limelight', cursive;
    font-size:65px;
    text-shadow: 5px 5px 10px #111111;
    box-shadow: 5px 5px 10px #111111;
    border: ridge;
}

#startButton, #restartButton {
    font-family: 'Limelight', cursive;
}

#question, #scoreBox, #timerHolder {
    background: #006699;
    color: whitesmoke;
    width: auto;
    text-shadow: 3px 3px 10px #111111;
    box-shadow: 5px 5px 10px #111111;
    border: ridge; 
}

hr {
    border:ridge;
    color: whitesmoke;
}

#timerHolder {
    font-size:25px;
}

#scoreBox {
    font-size:20px;
}

#question {
    font-size:30px;
}

#correct:hover, #incorrect:hover {
    background: whitesmoke;
    opacity: 0.75;
    cursor: pointer;
    color: #111111;
}